.wrapper {
  background-color: #eee;
  height: 50px;
}

.header {
  padding: 10px;
  background: aliceblue;
  height: 30px;
  font-size: 20px;
  a {
    display: inline-block;
    flex: 1;
    margin-right: 10px;
    padding: 5px 10px;
    svg {
      width: 18px;
      margin-right: 5px;
    }
  }
}

.seachtext {
  padding: 6px;
  margin-top: 2px;

  border: none;
  width: 500px;
}

.left {
  float: left;
}
.right {
  float: right;
  padding-right: 20px;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.login-btn {
  text-align: center;
  padding: 10px;
  border: none;
}
